canvas {
  border: 3px solid;
  border-color: grey;
  display: block;
  margin: auto;
  margin-top: 25px;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background.jpg");
  height: 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1{
  font-family: 'Press Start 2P', cursive;
}
